/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 3%;
}



/* header section */
.header {
    height: 100vh;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 106px;
    margin-bottom: 30px;

}

.header-title {
    width: 50%;

}

.header-text {
    font-weight: 700;
    font-size: 70px;
    color: white;
}

.header-description {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
}

.header-image {
    width: 50%;
    margin-bottom: -70px;
}

.header-image img {
    width: 100%;
    transition: transform 1s ease-out;
}

.header-image img:hover {
    transform: scale(1.10);
}

/* main section start  */

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 24px;
}

.main-left-back {
    background-color: black;
    padding: 30px 30px 15px;
    border-radius: 5px;
}

.menu {
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    display: block;
    padding: 10px 30px;
    text-align: center;
    color: black;
    margin-bottom: 15px;

}

.main-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.transfer {
    border: 1px solid #E8E8E8;
}

.transfer img {
    margin-bottom: 20px;
}

.trans-btn-div {
    margin-left: 20px;

}

.transfer-btn {
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #161616;
    padding: 5px 10px;
    color: black;
    font-weight: 700;
    display: inline-block
}

.transfer-detail {
    color: #161616;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0px;
    padding-right: 20px;
}

.icon {
    display: flex;
    /* justify-content: space-around; */
}

.time-icon {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 40px; */
    margin-right: 30px;
}

.time-color {
    color: rgba(22, 22, 22, 0.7);
    ;
}

.view-all {
    margin: 60px auto 20px;
    text-align: center;
    display: none;
}

.view-all a {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    background-color: #DD0000;
    font-weight: 700;
    border-radius: 10px;

}

/* main section ends  */

/* footer start  */
.footer {
    margin-top: 130px;
    background-color: #161616;
    padding: 130px;
    color: white;

}

.footer h2 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
    list-style: none;
    margin-right: 30px;
}

.footer ul li a {
    text-decoration: none;
    color: #B9B9B9
}

/* footer end  */


/* Responsive part start  */

/* small device */
@media screen and (max-width: 576px) {
    .header {
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
        /* margin: 0 auto; */

    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        /* margin-top: 20px; */
        /* grid-column-gap: 24px; */
    }

    .main-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        justify-content: center;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer ul li {
        margin-bottom: 20px;
    }

}

/* medium device  */

@media screen and (min-width: 577px) and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        /* margin-top: 20px; */
        /* grid-column-gap: 24px; */
    }

    .main-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        justify-content: center;
    }

    .main-left-back {
        display: flex;
        justify-content: center;
    }

    .menu {
        margin-right: 10px;
    }

    .view-all {
        display: block;
    }
}